
<div class="box">
  <div class="form-nav">
    <div class="title">{{ MODE.libelle + ' du formulaire'}}</div>
    <button (click)="redirect()" class="submit-btn">Enregistrer le formulaire</button>
  </div>

  <form [formGroup]="formForm">
    <div class="form-input">
        <div class="input">
          <label for="title">Titre: </label>
          <input id="title" type="text" formControlName="title">
        </div>
    
        <div class="input">
          <label for="description">Description: </label>
          <input id="description" type="text" formControlName="description">
        </div>
    </div>
  </form>


  <div class="questions-container">
    <!-- Question -->
    <div class="question" *ngFor="let question of formulaire.questions; let i = index">
      
      <div class="q-header">
        <div class="input">
          <input type="text" value="{{question.libelle}}" class="q-title" [(ngModel)]="question.libelle" (keyup.enter)="addTitle(question, question.libelle!)"/>
        </div>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select [(value)]="question.type">
            <mat-option *ngFor="let type of typeList" [value]="type.code">
              {{type.libelle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Selections -->
      <div class="q-selec-container">
        <ng-container *ngIf="question.type === 'CHECKBOX'">
          <ng-container *ngFor="let selection of question.selections">
            <mat-checkbox id="{{ 'Quest'+question.id+'Selec'+selection.id }}" [value]="selection.id!" [checked]="selection.isReponse" (change)="updateSelection(question, selection, $event)">{{ selection.libelle }}</mat-checkbox>
          </ng-container>
        </ng-container>
        <div class="q-selec-container">
          <ng-container *ngIf="question.type === 'RADIO'">
            <ul class="no-bullets">
              <li *ngFor="let selection of question.selections">
                <label>
                  <input type="radio" id="{{ 'Quest'+question.id+'Selec'+selection.id }}" [value]="selection.code" [checked]="selection.isReponse" (change)="updateSelection(question, selection)">
                  {{ selection.libelle }}
                </label>
              </li>
            </ul>
          </ng-container>
          <div class="new-selection input">
            <input type="text" placeholder="Ajouter une nouvelle réponse" [(ngModel)]="newSelectionValue" (keyup.enter)="addSelection(question, newSelectionValue)">
          </div>
        </div>  
      </div>

    </div>

    <!-- Add Question -->
    <button class="add-question submit-btn" (click)="addQuestion()">Ajouter Question</button>
  </div>
</div>
